.input, .disabled1, .error {
  color: #666666;
  height: 36px;
  width: 300px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-style: SegoUI;
  padding-left: 10px;
  background-color: #ffffff; }

.disabled1 {
  color: #999999;
  cursor: not-allowed; }

.error {
  background-color: #fde7e1;
  border: 1px solid #f44336;
  color: #f44336; }


